{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/npm",
    "@semantic-release/exec"
  ],
  "prepare": [
    "@semantic-release/npm",
      {
        "path": "@semantic-release/exec",
        "cmd": "echo hello"
      }
  ],
}
